/* variables */
$color: #575AAE;
$btn-color: #F59FAB;


/* main styles */
#adjust-container-flex
{    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-content: flex-end
}
.search-container {
    padding: 8rem;
}
form
{
 padding: 2rem;
}
.changecolor
{

color: $color;
font-weight: 600;
letter-spacing: 0.08rem;

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.changecolor:hover
{
    color: $btn-color;
}
.change-btn-color
{
    background-color: $btn-color;
    color: #fff;
}
.change-btn-color:hover
{
    background-color: #f2909d;
   
   
}
.adjust-nav-bg
{
    background-color: #E4E5FE;
   
}
.search-img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

@media screen and (max-width: 500px) {
    .sm-screen-text
    {
      font-size: xx-small;
       
    }
  }

